<!DOCTYPE html>
<head>
    <title>动态更新</title>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
</head>
<body>
<div id="dpLTE">
    <ul>
        <li >domain: {{info.domain}}</li>
        <li >ip: {{info.ip}}</li>
        <li >url: {{info.url}}</li>
        <li >baseUrl: {{info.baseUrl}}</li>
    </ul>

    <ul>
        <li >newDomain: <input type="text" v-model="newDomain" style="width: 300px"></li>
        <li >newIp: <input type="text" v-model="newIp" style="width: 300px"></li>
    </ul>
    <input type="button" value="更新" @click="submitFor">
</div>

</body>
<script src="libs/jquery.min.js"></script>
<script src="libs/vue.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#dpLTE',
        data: {
            newDomain: '',
            newIp:'',
            info:[],
        },
        created: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                $.ajax({
                    url: '/getInfo',
                    type: "get",
                    success: function (data) {
                        console.log(data);
                        vm.info = data;
                    },
                });
            },
            submitFor:function () {
                $.ajax({
                    url: '/refresh',
                    type: "post",
                    data: {'newDomain': vm.newDomain,'newIp':vm.newIp},
                    success: function (data) {
                        alert(data)
                        vm.refresh();
                    },
                });
            }
        }
    })
</script>
</html>