<!DOCTYPE html>
<head>
    <title>动态更新</title>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
</head>
<body >
<div id="dpLTE">
    域名:<input type="text" v-model = "newDomain" style="width: 300px">
    <input type="button" value="更新"  @click="refresh">
</div>

</body>
<script src="libs/jquery.min.js"></script>
<script src="libs/vue.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#dpLTE',
        data: {
            newDomain: 'jinghan.club'
        },
        methods : {
            refresh: function() {
                $.ajax({
                    url : '/refresh',
                    type : "post",
                    data : JSON.stringify({'newDomain':vm.newDomain}),
                    success : function(data) {

                    },


                });
            },
        }
    })
</script>
</html>